*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
.navbar-brand{
    font-size:2rem;
    color:black;
    font-family: "Lobster", sans-serif;

}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:black;
     font-family: "Rubik", sans-serif;
    text-transform: uppercase;

}
.nav-link:hover{
    color:black;


}
.search{
    height:40px;
    width:80%;
    border-radius:60px;
    outline:none;
    border:2px solid rgb(248, 26, 92);
     font-family: "Rubik", sans-serif;
    margin-right: -35px;
}
.btn0{
    height:40px;
    width:40%;
    outline: none;
    border:none;
    background-color:rgb(248, 26, 92) ;
    color:white;
    font-weight:700;
    border-radius: 60px;

}

.main{
    background: url(./3dba06a1-1514-4bb0-8605-5310b0511035.jpeg)no-repeat;
}